<%- include('../partials/head') %>
<!--  -->
<%- include('../partials/nav') %>
<section class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Olá</h1>
            <p class="text-center lead">Lorem ipsum dolor sit amet.</p>

            <%- include('../partials/messages') %>
        </div>
        <div class="col-lg-2"></div>
    </div>
</section>
<!--  -->
<%- include('../partials/footer') %>
